
body{
  background:#0b1e3a;
  color:#fff;
  font-family:Arial;
}

.container{
  max-width:500px;
  margin:auto;
  padding:20px;
}

.menu button{
  margin:5px;
  padding:10px;
}

.modulo{
  margin-top:20px;
  padding:15px;
  background:#132c52;
  border-radius:10px;
}

.hidden{
  display:none;
}
